@font-face {
    font-family: Roboto;
    src: url('fonts/roboto-bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/roboto-bolditalic.woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/roboto-italic.woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/roboto-regular.woff2');
    font-weight: 400;
    font-style: normal;
}